body {
  display: flex;
  justify-content: center;
  background-color: #EDEDED;
}

.App {
  width: 550px;
  height: 550px;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
  color: #FFFFFF;
  padding-left: 20px;
  padding-right: 37px;
}

.title-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.title-img {
  width: 31px;
  height: 26px;
}

.title {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

.course {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #FFF;
  text-align: right;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 36px;
}

.inputs {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.input-box {
  width: 230px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  padding-left: 11px;
}

.generate-button {
  width: 477px;
  height: 40px;
  flex-shrink: 0;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #711F8D 0%, #A818DA 100%);
  cursor: pointer;
}

.generate-button-text {
  color: #FFF;
  text-align: center;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.6px;
}

.meme {
  position: relative;
}

.meme-image {
  max-width: 100%;
  max-height: 300px;
}

.meme-text {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: Impact;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
